@font-face 
    font-family: 'MorrisRoman'
    src: url('./../../resource/extra/MorrisRoman-Black.ttf') format('truetype')
    font-weight: normal  
    font-style: normal 

*
    font-family: 'MorrisRoman' 
    